doctype html
html(lang="en")
head
title=title
link(rel="stylesheet", href="/css/style.css")
body
div(style={padding: '20px', width: '80%', margin: '0 auto'})#container I love Google
div.comments
    p#foo The NN is trained through brain.js
    a(href="https://github.com/BrainJS/brain.js" target="_blank")
        img(src="/img/brainjs.png" width="120px" height="120px") 
input(type="color" value="#fff")
div(style={color: 'white', background: 'darkcyan', padding: '100px'})#example Google Now
script(src="/js/main.js")

